table#userTasksTable {
    margin: 30px 0;
}

table#userTasksTable td {
    background-color: #dee2e6;
}

table#userTasksTable th
{
    background-color: #6d6d6d;

}

.active>.page-link { background-color: gray !important; border-color: gray !important; color: white !important; }
.page-link { color: gray !important; }